<div>
    <h2 id="page-heading">
        <span>Report Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-report-data" [routerLink]="['/report-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Report Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reportData">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Es Index</span></th>
            <th><span>Cron Info</span></th>
            <th><span>Display Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reportData of reportData ;trackBy: trackId">
                <td><a [routerLink]="['/report-data', reportData.id, 'view' ]">{{reportData.id}}</a></td>
                <td>{{reportData.name}}</td>
                <td>{{reportData.esIndex}}</td>
                <td>{{reportData.cronInfo}}</td>
                <td>{{reportData.displayName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/report-data', reportData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/report-data', reportData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'report-data', { outlets: { popup: reportData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
